.header {
  background-color: #fff;
}

.logo {
  font-size: 22px;
  color: #487bdb;
  font-weight: bold;
  margin-left: 20px;
}
.changeuser {
  float: right;
  font-weight: 600;
  font-size: 16px;
}
.sectionInner {
  /* 需要减去导航条高度 height: 100vh; */
  height: calc(100vh - 64px);
}
.sectionContent {
  padding: 32px;
}

.content {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
}
